node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ios stuff
ios/App/App.app.dSYM.zip
ios/App/App.ipa
ios/App/AppStore*
ios/App/Gemfile
ios/App/fastlane/
